[submodule "o11y-inbound-trigger"]
	path = o11y-inbound-trigger
	url = https://github.com/unchaptered/o11y-inbound-trigger
[submodule "o11y-proxy-core"]
	path = o11y-proxy-core
	url = https://github.com/unchaptered/o11y-proxy-core
[submodule "o11y-outbound-trigger"]
	path = o11y-outbound-trigger
	url = https://github.com/unchaptered/o11y-outbound-trigger
[submodule "o11y-outbound-adaptor"]
	path = o11y-outbound-adaptor
	url = https://github.com/unchaptered/o11y-outbound-adaptor
[submodule "o11y-inbound-adaptor"]
	path = o11y-inbound-adaptor
	url = https://github.com/unchaptered/o11y-inbound-adaptor
[submodule "o11y-models"]
	path = o11y-models
	url = https://github.com/unchaptered/o11y-models
[submodule "o11y-modules"]
	path = o11y-modules
	url = https://github.com/unchaptered/o11y-modules
